{% extends ':default:inscriptions.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Inscripción {{inscription.id}}, 
                {% if inscription.oneClickResponseCode == 0 %}
                    token {{inscription.oneClickToken}}
                {% else %}
                    fallida
                {% endif %}
                
            </h1>
            <a href="{{path('inscriptions')}}">volver</a>
        </div>
        <div class="col-md-12">
            <h3>Crear un cargo</h3>
            {{form(form)}}
        </div>
        <div class="col-md-12">
            <h3>Cargos creados</h3>
            <table>
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Monto</th>
                        <th>Autorización</th>
                        <th>Estado</th>
                        <th>Reversar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{order.code}}</td>
                        <td>{{order.amount}}</td>
                        <td>{{order.authorizationCode}}</td>
                        <td>{{order.status}}</td>
                        <td>
                            <a href="{{path('reverse_order', {id: inscription.id, order: order.id})}}">reversar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
