{% extends ':default:index.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <a href="{{path('homepage')}}">volver</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Pagos</h1>
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>email</th>
                        <th>username</th>
                        <th>token</th>
                        <th>oneClickAuthCode</th>
                        <th>oneClickCreditCardType</th>
                        <th>oneClickLast4CardDigits</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in payments %}
                        <tr>
                            <td>{{inscription.id}}</td>
                            <td>{{inscription.email}}</td>
                            <td>{{inscription.userName}}</td>
                            <td>{{inscription.oneClickToken}}</td>
                            <td>{{inscription.oneClickAuthCode}}</td>
                            <td>{{inscription.oneClickCreditCardType}}</td>
                            <td>{{inscription.oneClickLast4CardDigits}}</td>
                            <td><a href="{{path('inscription', {id: inscription.id})}}">ir</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            {{form(form)}}
        </div>
    </div>
{% endblock %}
