{% extends 'DSYWebpayBundle:Default:layout.html.twig' %}

{% block title %}
    {% if oneClickInscription.oneClickResponseCode == 0 %}
        Exito
    {% else %}
        Error
    {% endif %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% if oneClickInscription.oneClickResponseCode == 0 %}
                <h1>Ingreso exitoso!</h1>
                <br />
                <h4>Username: <b>{{ oneClickInscription.username }}</b></h4>
                <h4>Email: <b>{{ oneClickInscription.email }}</b></h4>
                <h4>Tarjeta de Credito: <b>{{ oneClickInscription.oneClickCreditCardType }} xxxx-xxxx-xxxx-{{ oneClickInscription.oneClickLast4CardDigits }}</b></h4>
            {% else %}
                <h1>Ocurrió un error al inscribir la tarjeta</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}
