<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="{{asset('bundles/dsywebpay/css/bootstrap.min.css')}}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
        {% block body %}
        {% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('bundles/dsywebpay/js/jquery-1.10.2.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/dsywebpay/js/bootstrap.min.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
