{% extends '@DSYWebpay/Default/layout.html.twig' %}

{% block title %}Pago{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>Ocurrió un problema con tu pago</h2>
            {% if order.code %}
                <h3>Transacción Rechazada Nº {{order.code}}</h3>
            {% endif %}
            <p>Fecha/Hora: {{ order.transactionDate|date('d/m/Y H:i') }}</p>
            <p>{{order.failStatusDescription}}</p>
            {% if order.failStatus == constant('dsarhoya\\WebpayBundle\\Interfaces\\WebpayBuyOrderInterface::FAIL_STATUS_GENERAL')%}
                <p>Las posibles causas de este rechazo son:</p>
                <ul>
                    <li>Error en el ingreso de los datos de su tarjeta de Crédito o Débito (fecha y/o código de seguridad)</li>
                    <li>su tarjeta de Crédito o Débito no cuenta con el cupo necesario para cancelar la compra</li>
                    <li>tarjeta aún no habilitada en el sistema financiero</li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
