{% extends '@DSYWebpay/Default/layout.html.twig' %}

{% block title %}Pago{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <h2>¡Gracias por tu pago!</h2>
        <br/>
        <h3>Información del pago</h3>
        <div class="table-responsive">
          <table class="table table-striped table-hover table-public">
            <tbody>
              <tr>
                <th>Número de Order</th>
                <td>{{ order.code }}</td>
              </tr>
              <tr>
                <th>Total cancelado</th>
                <td>{{ order.amount|number_format(0, '.', ',') }}</td>
              </tr>
              <tr>
                <th>Código de autorización de la transacción</th>
                <td>{{ order.authorizationCode }}</td>
              </tr>
              <tr>
                <th>Fecha de compra</th>
                <td>{{ order.transactionDate|date('d/m/Y H:i') }}</td>
              </tr>
              <tr>
                <th>Tipo de pago</th>
                <td>{{ order.paymentType }}</td>
              </tr>
              <tr>
                <th>Tipo de cuotas</th>
                <td>{{ order.sharesDescription }}</td>
              </tr>
              <tr>
                <th>Cuotas</th>
                <td>{{ order.sharesNumber }}</td>
              </tr>
              <tr>
                <th>Número de tarjeta</th>
                <td>**** {{ order.creditCardEndingNumbers }}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>
{#<div class="row">
    <div class="col-md-12">
        <div class="btn-group">
            <a role="button" class="btn btn-default" href="{{ path('empresa_index', {'empresa': empresa.id}) }}">Volver</a>
            <a role="button" class="btn btn-warning" href="javascript:void(0);" onclick="window.print();">Imprimir</a>
        </div>
    </div>
</div>#}
{% endblock %}
